In [9]:
# import packages
import pandas as pd
import os

In [10]:
os.getcwd()

'/home/jovyan/ML Problem Sets/PS4/Data'

In [11]:
GeoCode = pd.read_csv('master_walk_score_geoid.csv', index_col=0)
GeoCode.head(1)

         lat         lon        GEOID
0  47.648701 -122.362286  53033005901

In [18]:
GeoCode.shape

(1000, 3)

In [12]:
AmCount = pd.read_csv('master_walk_score_amm_count.csv', index_col=0)
AmCount.head(1)

,lat,lon,restaurant_count,school_count,park_count,bus_station_count,supermarket_count,pub_count,parkwide_count,restaurantwide_count
0,47.648701,-122.362286,10,1,5,3,1,9,10,10

In [17]:
AmCount.shape

(1000, 10)

In [16]:
Stats = pd.read_csv('master_walk_score_stats.csv', index_col=0)
Stats.head()

(1000, 6)

In [21]:
master_combined = GeoCode.merge(AmCount).merge(Stats)
master_combined.head()

,lat,lon,GEOID,restaurant_count,school_count,park_count,bus_station_count,supermarket_count,pub_count,parkwide_count,restaurantwide_count,intersection_count,streets_per_node_avg,circuity_avg,street_length_avg
0,47.648701,-122.362286,53033005901,10,1,5,3,1,9,10,10,169,3.000000,1.034645,31.606547
1,47.525235,-122.308352,53033010900,8,1,0,6,0,0,10,8,21,3.000000,1.061660,43.091667
2,47.694938,-122.304282,53033002100,2,5,2,7,0,2,10,10,71,2.680851,1.026217,44.864357
3,47.558749,-122.308561,53033010402,2,4,3,3,1,0,10,10,18,2.142857,1.052310,47.683353
4,47.617798,-122.353811,53033008003,10,2,10,3,5,10,10,10,341,3.303867,1.052054,26.141254

In [22]:
master_combined.shape

(1000, 15)

In [24]:
master_combined.to_csv('master_combined.csv')